@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    


}

hr {
    margin: 2rem 0px;
}

.container {
    padding-left: 3rem;
    padding-right: 3rem;
}

.container-center {
    max-width: 600px;
    margin: auto;

}

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;


}

.link-primary {
    color: white;

    background-color: #818CF8;
    border-radius: 0.5rem;
}

.link-secondary {
    color: #818CF8;
    border: 1px solid #818CF8;
    border-radius: 0.5rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0.5rem;
}

.navigation {
    background-color: #818CF8;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 2.5vh;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .link-active {

    font-weight: bold;
}

.hero {
    padding: 2rem;
    text-align: center;

}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;


}

.hero .hero-heading {
    text-align: center;
    color: #6B7280;
    padding-top: 1rem;
}

.section h1 {

    text-align: center;


}

.ow {
    background-color: #E5E7EB;
}

.section {
    padding: 2rem;

}

.footer {
    margin: auto;
    background-color: #60A5FA;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 2rem;


}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-weight: bold;
}

.padding {
    padding: 2rem;
}

img {
    margin-left: 30%;
    width: 40%;
    padding-top: 2%;
}

.blogmater {
    margin-left: 10rem;
    margin-right: 10rem;
}

h1 {
    font-size: 4vh;
}

.small {
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}




#blog {
   
   
    display: table;
    height: 100%;
    width: 100%;
  
}

.blogdiv{
display: table-cell;
text-align: center;
vertical-align: middle;
width: 50%;
padding-left: 1rem;
padding-right: 1rem;

}







